<div class="row">

  <div *ngFor="let product of products" class="col-md-3" style="margin-top: 2px">

    <div class="card">
      <img class="card-img-top" src="http://placehold.it/320*150" alt="">

      <div class="card-body">
        <h4 class="card-title">{{product.price}}</h4>
        <h4>
          <a href="#">{{product.title}}</a>
        </h4>
        <p class="card-text">{{product.desc}}</p>
      </div>

      <div>
        <app-stars></app-stars>
      </div>
    </div>
  </div>

</div>
