<div class="row">

  <div *ngFor="let product of products" class="col-md-3" style="margin-top: 2px">

    <div class="card">

      <div class="thumbnail">
        <img [src]="imageUrl" alt="1">
        <div class="caption">
          <h4><a href="#">{{product.title}} </a><span class="pull-right">{{product.price + '元'}}</span></h4>
          <p>
            {{product.desc}}
          </p>
        </div>

        <app-stars [rating]="product.rating"></app-stars>
      </div>

    </div>
  </div>

</div>
